<template>
  <div class="relative w-full">
    <HeaderCommon :txt="'Favoritos'" :show="'title'" />
    <div class="relative table justify-center  mx-auto mt-24" v-if="favorites.length === 0">
      <div class="flex justify-center items-start">
        <img :src="noFav" alt="no-favoritos" />
      </div>
      <TitleCommon :txt="'No tienes ningún favorito guardado'"/>
    </div>
    <div class="container flex flex-wrap content-start justify-start mx-auto mt-24">
      <Card
        v-for="item in favorites"
        :key="item.id"
        :data="item"
        :animate="true"
        @onRemoveFav="OnUpdate"
      />
    </div>
  </div>
</template>

<script>
import Card from "../components/Card.vue";
import HeaderCommon from "../components/HeaderCommon.vue";
import TitleCommon from "../components/TitleCommon.vue";
import NoFav from "../assets/noFav.gif";

export default {
  name: "Favorites",
  components: {
    Card,
    HeaderCommon,
    TitleCommon
  },
  data() {
    return {
      favorites: [],
      noFav: NoFav
    };
  },
  methods: {
    OnUpdate() {
      let favorites = JSON.parse(localStorage.favorites);
      this.favorites = favorites;
    },
  },
  mounted() {
    if (localStorage.favorites) {
      this.favorites = JSON.parse(localStorage.favorites);
    }
  },
};
</script>
