<template>
  <div class="relative w-full">
    <HeaderCommon @fetchGifs="OnFetch" :show="'home'" />
    <div class="container flex flex-wrap content-start justify-around mx-auto mt-24 px-10% sm:px-0 ">
      <Card v-for="item in dataGifs" :key="item.id" :data="item" />
    </div>
  </div>
</template>

<script>
import Card from "../components/Card.vue";
import HeaderCommon from "../components/HeaderCommon.vue";

export default {
  name: "Home",
  components: {
    Card,
    HeaderCommon,
  },
  data() {
    return {
      dataGifs: [],
    };
  },
  methods: {
    OnFetch(data) {
      this.dataGifs = data;
    },
  },
};
</script>