<template>
  <div :class="`relative w-full sm:w-1/2 md:w-1/4 lg:w-1/5 h-auto flex flex-col justify-start content-start m-1.5 rounded overflow-hidden border-2 border-gray-400 ` + classAnimate">
      <img class="relative w-auto h-4/5 cursor-pointer rounded" :src="url" @dblclick="saveFavorite" />
      <div class="relative h-1/5 flex justify-start items-center p-4">
          <p class="relative w-10/12 truncate">
            {{ title }}
          </p>
          <input
            class="checkfavorite absolute right-1 opacity-0 cursor-pointer w-8 h-8 z-10"
            type="checkbox"
            :checked="check"
            @change="saveFavorite"
          />
          <label class="absolute right-1 w-8 h-8 bg-transparent bg-no-repeat overflow-hidden scale-100 heartAnim" for="heart" />
      </div>
  </div>
</template>
<script>
export default {
  name: "Card",
  data() {
    return {
      id: "",
      url: "",
      title: "",
      classAnimate: "",
      check: false,
      stateAnimate: false
    };
  },
  props: {
    data: Object,
    animate: Boolean,
  },
  methods: {
    saveFavorite() {
      this.check = !this.check;
      if (this.check) {
        let _favorites = [];        
        let _fav = this.data;
        let exists = [];

        if (localStorage.favorites){  
          _favorites = JSON.parse(localStorage.favorites);
        } 
          
        exists = _favorites.filter((e) => {
          if (this.id === e.id) return 1;
        });
         console.log(_fav)
        if (exists.length<1){
          _fav.isFavorite = true;
          _favorites.push(_fav);
        } 

        localStorage.favorites = JSON.stringify(_favorites);

      } else {
        this.removeFavorite();
      }
    },
    removeFavorite() {
      let _favorites = JSON.parse(localStorage.favorites);

      _favorites = _favorites.filter((e) => {
        if (this.id !== e.id) return e;
      });

      localStorage.favorites = JSON.stringify(_favorites);

      if (this.stateAnimate) {
        setTimeout(() => {
          this.classAnimate = "remove";
        }, 500);
      }
      setTimeout(() => {
        this.$emit("onRemoveFav");
      }, 1000);
    }
  },
  mounted() {
    this.url = this.$props.data.url;
    this.id = this.$props.data.id;
    this.stateAnimate = this.$props.animate;
    this.title = this.$props.data.title;
    this.check = this.$props.data.isFavorite;
  },
};
</script>
<style scoped>
.remove {
  transform: scale(0);
  animation: cardHide 1s;
}
.heartAnim {
  background: no-repeat url("./../assets/heart.png") -7px -10px;
  background-size: 280px 110px;
  animation: heart 0.5s steps(5);
  cursor: pointer;
}
.checkfavorite:checked + .heartAnim {
  background-position: -240px -10px;
  animation: fillHeart 0.5s steps(5);
}
@keyframes cardHide {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  to {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@keyframes heart {
  0% {
    background-position: -7px -67px;
  }
  to {
    background-position: -240px -67px;
  }
}
@keyframes fillHeart {
  0% {
    background-position: -7px -10px;
  }
  100% {
    background-position: -240px -10px;
  }
}
</style>