<template>
  <div class="fixed w-full h-20 top-0 z-10 bg-white px-4 md:px-14 py-6 shadow-lg">
    <div class="relative flex items-center justify-start w-full h-full">
      <div class="relative h-full flex justify-center items-center">
        <a class="" href="/">
          <img class="h-20" :src="logoBuscador" />
        </a>
      </div>
      <div class="relative w-full h-full">
          <component :is="showComponent" @fetchGifs="OnFetch" :txt="txt" />
      </div>
      <div class="relative h-full flex justify-center items-center right-0">
        <a class="" href="/favorites">
          <img class="h-16 hidden md:block" :src="logoFavoritos" />
          <img class="h-16 block md:hidden" :src="logoFavoritosMin" />
        </a>
      </div>
    </div>
  </div>

</template>

<script>
import Search from "./Search.vue";
import Logo from "./../assets/Logo.svg";
import LogoFav from "./../assets/Favorites.svg";
import LogoFavMin from "./../assets/FavoriteHeart.svg";

import TitleCommon from './TitleCommon.vue';
export default {
  name: "HeaderCommon",
  data() {
    return {
        showComponent: this.show,
        logoBuscador: Logo,
        logoFavoritos:LogoFav,
        logoFavoritosMin:LogoFavMin
    };
  },
  props:{
      txt:String,
      show:String,
  },
  components:{
    'home': <Search />,
    'title': <TitleCommon />
  },
  methods:{
    OnFetch(data) {
      this.$emit("fetchGifs", data);
    },
  }
};
</script>