<template>
  <input class="border-2 rounded border-gray-400 mx-3.5 w-full max-w-xs indent "
    placeholder="Buscar gif"
    v-model="wordSearch"
    @input="OnInput"
  />
</template>

<script>
const DEFAULT_SEARCH = "perritos";
const LIMIT_RESULTS = 50;

export default {
  name: "Search",
  data() {
    return {
      wordSearch: "",
      timeOut: null,
      historySearch: [],
    };
  },
  methods: {
    OnInput() {
      clearTimeout(this.timeOut);
      this.timeout = setTimeout(() => {
        this.OnSearch();
      }, 500);
    },
    OnSearch() {
      fetch(
        `${process.env.VUE_APP_URL_SERVER}?api_key=${process.env.VUE_APP_API_KEY}&q=${
          this.wordSearch === ""
            ? DEFAULT_SEARCH
            : `${DEFAULT_SEARCH} ${this.wordSearch}`
        }&limit=${LIMIT_RESULTS}`
      )
        .then((response) => response.json())
        .then((result) => {
  
         
          let wordSearh = this.wordSearch === "" ? DEFAULT_SEARCH : `${DEFAULT_SEARCH} ${this.wordSearch}`;
          let _history = this.historySearch;

          if (!_history.includes(wordSearh)) _history.push(wordSearh);
            localStorage.history = JSON.stringify(_history);

          let dataFilter = result.data.map(e=>{
                return{
                  id: e.id,
                  title: e.title,
                  url: e.images.fixed_height_downsampled.url,
                  isFavorite:false
                }
            });
          let favorites = [];
          if (localStorage.favorites) {
            favorites = JSON.parse(localStorage.favorites);
          }
          dataFilter.map(e=>{
            favorites.map(el=>{
                if(e.id === el.id)
                    e.isFavorite = true;
            })
                return e
            })
          this.$emit("fetchGifs", dataFilter);
        });
    },
  },
  mounted() {
    this.OnSearch();
    if (localStorage.history) {
      this.historySearch = JSON.parse(localStorage.history);
    }
  },
};
</script>
